body {
    margin: 15px!important;
    font-family: Arial, Helvetica, sans-serif!important;
}

.title-bar {
    font-family: 'Times New Roman', Times, serif!important;
    color: black;
	text-shadow:
		-2px -2px 0 white,
		2px -2px 0 white,
		-2px 2px 0 white,
		2px 2px 0 white;
    background-image: url(../images/blueblancrouge.jpg)!important;
    background-color: white!important;
    background-repeat: no-repeat;
    background-position: center;
}

#reading {
    font-size: 10pt;
}
/* html {
    background-image: url(../images/passport1.jpg)!important;
    background-repeat: repeat;
    background-size: 20%;
} */

.article-body {
    margin: 15px 0 0 0;
}

.lang-btn {
    float: right;
}

#open-gif {
    float: left;
    width: 300px;
    height: auto;
}

#searchText {
    margin: 0 0 15px 15px;
}

.bodyText {
    margin: 0 0 0 15px;.element {

}

.input-box {
    width: 200px!important;
    height: 50px!important;;
}

.button-text {
    margin: 10px 3px 10px 0;
}

.button-gif {
    margin: 10px;
}

.rating {
    padding: 50px;
}

