body {
    margin: 15px!important;
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
}

a {
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: black;
}

.header-text {
    color: black;
}

.blockquote {
    font-size: 12pt!important;
}

.title-bar {
    font-family: 'Times New Roman', Times, serif;
    color: black;
	text-shadow:
		-2px -2px 0 white,
		2px -2px 0 white,
		-2px 2px 0 white,
		2px 2px 0 white;
    background-image: url(../images/blueblancrouge.jpg);
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
}

.headline {
    font-size: 12pt;
    background-color: royalblue;
    color: red;

}
.article {
    color: black;
    font-size: 10pt;
    margin-bottom: 10px;
    padding: 6px;
    display: inline-block;
    /* min-width: 300px; */
    width: 225px;
}

.article-container {
    display: inline-block;
    margin: 15px 0 0 0;
}

.lang-btn {
    float: right;
    margin: 23px 3px 3px 3px;
}

#english {
    position: relative;
    right: 45;
}

#searchText {
    margin: 0 0 15px 15px;
}

.search-button {
    margin: 3px;
}

.bodyText {
    margin: 0 0 0 15px;
}

.input-box {
    width: 200px;
    height: 50px;
}

.button-text {
    margin: 10px 3px 10px 0;
}
