body {
    margin: 15px!important;
    font-family: Arial, Helvetica, sans-serif!important;
    background-color: rgb(14, 53, 230)!important;
}

.header-text {
    color: black;
}
.container {
    color: white!important;
}
.title-bar {
    font-family: 'Times New Roman', Times, serif!important;
    color: black;
	text-shadow:
		-2px -2px 0 white,
		2px -2px 0 white,
		-2px 2px 0 white,
		2px 2px 0 white;
    background-image: url(../images/blueblancrouge.jpg)!important;
    background-color: rgb(14, 53, 230)!important;
    background-repeat: no-repeat;
    background-position: center;
}

.article {
    color: black;
    font-size: 9pt;
    margin-bottom: 10px;
    padding: 6px;
    display: inline-block;
}

.article-container {
    display: inline-block;
    margin: 15px 0 0 0;
    
}

#reading {
    font-size: 10pt;
    color: white;
}

.lang-btn {
    float: right;
    margin: 23px 3px 3px 3px;
}

#english {
    margin-right: 100px;
}

#open-gif {
    float: left;
    width: 300px;
    height: auto;
}

#searchText {
    margin: 0 0 15px 15px;
}

.bodyText {
    margin: 0 0 0 15px;.element {

}

.input-box {
    width: 200px!important;
    height: 50px!important;;
}

.button-text {
    margin: 10px 3px 10px 0;
}

.button-gif {
    margin: 10px;
}


